.container
  .row
    .col-12
      .row
        .col-12
          %h3
            Berichten
  .row
    #filterrific_results.col-12
      = render partial: 'list'
  .row.fixed-bottom.mb-3
    .col-9
    .col-1
      =link_to '+', messageables_path, class: 'btn btn-primary btn-circle btn-lg font-weight-bold'

