.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Bericht
      .row
        .col-10
          = "Verstuurd: #{@message.created_at.strftime('%d-%m-%Y %H:%M')}"
      .row
        .col-10
          = @message.message
