.col-md-10.col-12
  - instrument = ''
  - @members.each do |rm|
    - previnstrument = instrument
    - instrument = rm.instrument_for_ensemble(@rehearsal.ensembles.first)['name']
    - if instrument != previnstrument
      .row.mb-1
        .col-7.font-weight-bold
          = instrument

    .row.mb-1
      .col-5
        = rm.full_name
      .col-7.mb-1
        = link_to 'Afwezig', rehearsal_attendance_update_path(@rehearsal, { member_id: rm.id, attendance: false }), method: :put, remote: true, class: not_attended_style(@rehearsal, rm)
        = link_to 'Aanwezig', rehearsal_attendance_update_path(@rehearsal, { member_id: rm.id, attendance: true }), method: :put, remote: true, class: attended_style(@rehearsal, rm)

