- Rehearsal.for_member(current_member).each do |rehearsal|
  .row.mb-1.align-items-center.data-row
    .col-12.border-bottom
      .row
        .col-3
          = link_to rehearsal.date_time.strftime('%d-%m'), rehearsal_path(rehearsal)
          .small
            = rehearsal.date_time.strftime('%H:%M')
        .col-9
          .row
            .col-9
              = rehearsal.description
          .row
            .col-7.small
              = rehearsal.ensembles.collect(&:name).join(', ')
            - if rehearsal.is_declined_by?(current_member)
              .col-2.small.text-danger
                Afgemeld
            - elsif rehearsal.is_accepted_by?(current_member)
              .col-2.small.text-success
                Aangemeld



