- @rehearsals.each do |rehearsal|
  .row.mb-1.align-items-center
    .col-7
      = link_to "#{rehearsal.date_time.strftime('%d-%m')}: #{rehearsal.description}", rehearsal_path(rehearsal)
    .col-4
      .btn-group.float-right
        - if rehearsal.is_declined_by?(current_member)
          Afgemeld




