.container-fluid
  .row
    .col-md-1
    .col-10
      .row
        .col-10




      - @ensembles.each do |ensemble|
        .row.ml-3
          .col-10.text-center
            %h3
              = "Repetitiebezoek #{ensemble.name}"
        .row.mb-5
          .col-10
            = line_chart @series[ensemble.name]
