- @members.each do |member|
  .row.mb-1.align-items-center.data-row
    .col-12.border-bottom
      .row
        .col-12
          = link_to "#{member.full_name}", admin_member_url(member)
      .row
        .col-12.small
          = member.email
