- @songs.each do |song|
  .row.mb-1.align-items-center.data-row
    .col-12.border-bottom
      .row
        .col-4
          = link_to song.title, edit_admin_song_path(song)
        .col-2
          = song.state
        .col-6
          .btn-group.float-right
            = link_to('Verwijderen', admin_song_path(song), method: :delete, data: { confirm: 'Weet u het zeker?' })
