.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Leden app
      .row
        .col-10
          %p
            Welkom bij de leden-app van de fanfare.
          %p
            Op dit moment kunt u deze app gebruiken voor
            het afmelden voor repetities en het aan-of afmelden voor uitvoeringen. In de nabije toekomst zullen
            er nog meer functies toegevoegd worden. Heeft u zelf goede ideeen? laat het mij weten!
      .row
        .col-sm-10.d-block.d-lg-none
          Druk op het menu knopje rechtsboven om een keuze te maken
        .col-10.d-none.d-lg-block
          Gebruik het menu om een keuze te maken



