.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Leden-app
      .row
        .col-10
          %p
            Welkom bij de leden-app van de fanfare.
          %p
            Op dit moment kunt u deze app gebruiken voor
            het afmelden voor repetities en het aan-of afmelden voor uitvoeringen. In de nabije toekomst zullen
            er nog meer functies toegevoegd worden. Heeft u zelf goede ideeen? laat het mij weten!

          %p
            Gebruik het menu om uw keuze te maken

