- @bands.each do |band|
  .row.mb-1.align-items-center
    .col-6
      = band.name
    .col-6
      .btn-group.float-right
        = link_to('Bewerken', edit_admin_band_path(band), class: 'btn btn-sm btn-outline-secondary')
        = link_to('Verwijderen', admin_band_path(band), method: :delete, data: { confirm: 'Weet u het zeker?' }, class: 'btn btn-sm btn-danger')
