/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome";
@import "bootstrap";

@font-face {
  font-family:'Arial';
}

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

.w60{
  width: 60%;
}

.dark-admin {
  background: #17679e;
  height:800px;
  padding: 2rem;
  a, a:visited {
    color: #EDDABB;
  }
}

.navbar {
  margin-bottom:  1rem;
}

body
{
  font-size: 16px;
  padding-top: 70px;
  font-family: Verdana;
  font-weight: 300;

}
h1
{
  font-size:30px;
}
h2
{
  font-size:30px;
}
h3
{
  font-size:20px;
}

@media (min-width: 768px)
{
  body
  {
    font-size: 16px;
    padding-top: 70px;
  }
  h1
  {
    font-size:24px;
  }
  h2
  {
    font-size:30px;
  }
  h3
  {
    font-size:20px;
  }
}

.filterrific-periodically-observed{
  border: 1px solid  #17679e;
  margin-bottom: 1.5rem;
  width: 100%;
}

.data-row{
  cursor: pointer;
  a, a:visited, a:hover {
    color: black;
  }
}

.btn-primary {
  background-color: #2d499c !important;
  border: 1px solid #2d499c !important;

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.image-upload {
  input{ display: none;}
  label {cursor:pointer;}
}

.underline {
    text-decoration: underline;
}
