%p
  Hallo #{@resource.email}!
%p U bent toegevoegd aan de app van #{@resource.band.name}
%p Ga via onderstaande link naar de app en stel uw wachtwoord in!
%p= link_to 'Open de app', edit_password_url(@resource, reset_password_token: @token)