.container
  .row
    .col-12
      .row
        .col-12
          %h3
            Optredens
      .row
        .col-8
          %b
            Details
        .col-4
          %b.float-right
            Aanwezig?
  .row
    #filterrific_results.col-12
      = render partial: 'list'
