.container
  .row
    .col-12
      .row
        .col-8
          %h3
            Optredens
        .col-4
          %h3
            Aanwezig?
  .row
    #filterrific_results.col-12
      = render partial: 'list'
