#myModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Bezetting overzicht
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        =render partial: 'layouts/availability', locals: {instruments_availability: @instruments_availability, gig: @gig}

      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Sluiten
