:css
  .topnav {
    background-color: #{band.topnav_color};
    opacity: #{@cms_site.present? ? band.topnav_opacity : 1};
    }

  .topnav_font_color{
    color: #{band.topnav_font_color} !important;
  }