- if flash[:notice]
  .alert.alert-primary.alert-dismissible.fade.show{role: 'alert'}
    = flash[:notice]
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
- if flash[:error]
  .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
    = flash[:error]
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×