.container-fluid
  .row
    .col-md-1
    .col-12.col-md-10
      = bootstrap_form_tag url: update_password_path, method: :put do |f|
        .row
          .col.5
            = f.password_field :password, label: "Nieuw wachtwoord.."
        .row
          .col.5
            = f.password_field :password_confirmation, label: "Bevestig nieuw wachtwoord"
        .row
          .col-10.mb-5.mt-3
            = f.submit 'Opslaan', class: 'btn btn-primary'